body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px;
    min-height: 100vh;
}

img{
    width: 150px;
    border-radius: 50%;
}

.card{
    background: rgb(250, 235, 247);
    color: #5d5a5a;
    border: 6px solid rgb(239, 208, 208);
    padding: 30px;
    width: 350px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}